@model PruebaTecnica_DanielGarita_CNET.Entities.DoctorObj

@{
    ViewBag.Title = "Actualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Registro de Doctores</h6>
    </div>
    <div class="card-body">

        @using (Html.BeginForm("ActualizarDoctor", "Doctor", new { idDoctor = Model.idDoctor }, FormMethod.Post))
        {
            <!--metodo-->
        <div class="row">
            <!--para las filas-->
            <!--se crea la columna-->
            <div class="col-6">
                <div class="form-group">
                    @Html.Label("nombre", "Nombre:")
                    @Html.TextBoxFor(Model => Model.nombre, new { @class = "form-control", @required = "required", @placeholder = "Nombre del Doctor" })

                    @Html.ValidationMessageFor(Model => Model.nombre, null, new { @class = "text-danger" })

                </div>

                <br />
            </div>


            <div class="col-6">
                <div class="form-group">
                    @Html.Label("apellido", "Apellido:")
                    @Html.TextBoxFor(Model => Model.apellido, new { @class = "form-control", @required = "required", @placeholder = "Apellido del Doctor" })
                    @Html.ValidationMessageFor(Model => Model.apellido, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    @Html.Label("especialidad", "Especialidad:")
                    @Html.TextBoxFor(Model => Model.especialidad, new { @class = "form-control", @required = "required", @placeholder = "Especialidad del Doctor" })
                    @Html.ValidationMessageFor(Model => Model.apellido, null, new { @class = "text-danger" })
                </div>
            </div>

        </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Actualizar Doctor</button>
                </div>
            </div>
        }


        <!-- DataTales Example -->
    </div>
</div>

